<div class="card">
  <div class="col-sm-12 text-center">
    <img class="card-img-top img-responsive" [src]="getProfileImage()" alt="Card image cap">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ user.name }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">ID : {{ user.id }}</li>
    <li class="list-group-item">USERNAME : {{ user.username }}</li>
    <li class="list-group-item">COMPANY : {{ user.company.name }}</li>
  </ul>
  <div class="card-body">
    <a [routerLink]="[ '/people/', user.id ]" class="card-link">Personal Todos</a>
  </div>
</div>